@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'EB Garamond', sans-serif, system-ui,;
}

body{
    background-color: #fff;
    width: 100%;
    height: auto;
    display: block;
}

body header{
    margin: 0;
    padding: 0;
    display: flex;
    background: #f4ebd4;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-image-content{
    width: 90%;
    height: px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.image{
    width: 100px;
    height: 50px;
    background-color: #d3d1c8;
}

.header-title{
    align-items: end;
    text-align: center;
}

.contanier-middle-header{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contanier-middle-header h2{
    font-family: 'EB Garamond';
    color: #333;
    letter-spacing: 20px;
    font-size: 1.5rem;
    font-weight: 400;
}

.div{
    width: 400px;
    height: 0px;
    border: 1px solid #555;
}

.header-descripcion-content{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 90%;
}

.header-descripcion-content p{
    width: 800px;
    text-align: center;
    font-family: 'EB Garamond';
    font-style: italic;
    opacity: .5;
}

/* MAIN  SECTION */
.main-product-section-container{
    width: 100%;
    height: 600px;
    display: grid;
    place-content: center;
}

.main-product-sectiot-contenet-title{
    margin-bottom: 50px;
}

.main-product-sectiot-contenet-title h1{
    font-size: 1.5rem;
    font-family: 'Poppins';
    text-align: left;
    letter-spacing: .8px;
    font-weight: 600;
}

.main-card-section-container{
    display: flex;
    gap: 20px;
    width: auto;
    height: 200px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-image{
    width: 300px;
}

.info-card-section{
    text-align: center;
}

.info-card-section strong{
    font-family: 'EB Garamond';
    font-weight: 600;
    opacity: .97;
    padding-top: 15px;
}

.card-product-name-link{
    font-size: 1.2rem;
    color: #111;
    text-decoration: underline;
}

.card-product-name-link:hover{
    color: #222;
    text-decoration: none;
}

.info-card-section h3{
    font-weight: 500;
    opacity: .8;
}

/* FOOTER SECTION */
.Footer-website-container{
    margin: 0;
    padding: 0;
    display: flex;
    background: #f4ebd4;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.container-info{
    width: 1250px;
    display: flex;
    justify-content: center;
    margin: 50px;
}

.info-content{
    margin: 20px;
    padding: 20px;
    width: 40%;
}

.info-tilte-content{
    margin-bottom: 20px;
}

.info-tilte-content h4{
    font-size: 1rem;
    font-family: sans-serif;
    color: #617b68;
    letter-spacing: .8px;
    font-weight: 600;
}

.info p{
    font-size: 1rem;
    font-weight: 500;
    font-family: sans-serif;
    color: #333;
    margin-bottom: 15px;
    line-height: 1.6;
    letter-spacing: .8px;
}

.social-logos a{
    margin: 15px 15px 15px 0px;
}

.social-logos a img{
    margin: 15px 15px 15px 0px;
    transition: all ease .2s;
}

.social-logos a img:hover{
    transform: translateY(-5px);
}

.contact-input{
    display: flex;
    align-items: center;
}

.contact-input input{
    width: 70%;
    height: 35px;
    font-size: 15px;
    margin: 15px 15px 15px 0px;
    color: #555;
    padding-left: 15px;
}

.btn-submit-message{
    opacity: .8;
    font-size: 15px;
    font-weight: 600;
    color: #f4ebd4;
    border: none;
    background-color: #f893c6;
    width: 20%;
    height: 35px;
}

.btn-submit-message:hover{
    background-color: #fa5dab;
}

.desing-by-whit{
    color: #555;
    font-size: 18px;
}

.desing-by-whit a{
    color: #111;
}

.desing-by-whit a:hover{
    text-decoration: none;
}

/* MEDIA QUERY TABLETAS HEADER*/

@media screen and (max-width: 1290px) {
    header{
        width: 100%;
    }

    .contanier-middle-header{
        margin: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .div{
        width: 100%;
    }

    .header-title{
        margin: 15px;
        width: 100%;
    }

    .header-title h2{
        font-size: 1rem;
    }

    .main-product-section-container{
        width: 100%;
        height: auto;
        margin-top: 50px;
        padding-bottom: 30px;
    }

    .main-card-section-container{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-secion{
        display: flex;
        justify-content: center;
    }

    .card-image{
        width: 90%;
    }

    .Footer-website-container{
        height: auto;
    }

    .container-info{
        flex-direction: column;
        width: 80%;
        height: auto;
    }

    .info-content{
        width: 90%;
    }
}

/* MEDIA QUERY PARA MOVIL */
@media screen and (max-width: 700px) {
    body{
        width: 100%;
    }
    header{
        width: 100%;
        height: auto;
    }

    .contanier-middle-header{
        margin: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .div{
        width: 95%;
    }

    .header-title{
        margin: 15px;
        width: 98%;
    }

    .header-title h2{
        font-size: .8rem;
        letter-spacing: 10px;
    }

    .header-descripcion-content p{
        width: auto;
        font-size: 12px;
    }

    .main-product-sectiot-contenet-title h1{
        font-size: 1.2rem;
        text-align: center;
    }
}